@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@300;350;400;600;700;750;800&display=swap');

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Sofia Sans Condensed', sans-serif;
}
body {
  background-color: rgb(201, 201, 201);
}
